<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>

    <!-- Global configuration settings for the mapper.-->
    <settings>
        <setting name="cacheEnabled" value="false"/>
        <setting name="lazyLoadingEnabled" value="false"/>
        <setting name="aggressiveLazyLoading" value="false"/>
    </settings>
    
    <typeAliases>
        <typeAlias alias="Export" type="gov.usgs.cida.qw.Export" />
        <typeAlias alias="Code" type="gov.usgs.cida.qw.codes.Code" />
    </typeAliases>

    <typeHandlers>
        <typeHandler javaType="Export" handler="gov.usgs.cida.qw.ExportTypeHandler"/>
		<typeHandler javaType="org.joda.time.LocalDateTime" handler="gov.usgs.cida.qw.LocalDateTimeTypeHandler"/>
    </typeHandlers>

    <mappers>
        <mapper resource="mybatis/srsnamesMapper.xml"/>
        <mapper resource="mybatis/lastUpdateMapper.xml"/>
        <mapper resource="mybatis/codeMapper.xml"/>
        <mapper resource="mybatis/summaryMapper.xml"/>
    </mappers>
    
</configuration>