<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd"> 

<mapper namespace="summary">

	<resultMap id="discreteSampleCountBin" type="gov.usgs.cida.qw.summary.SummaryController$RowCounts">
		<!--order is important here-->
		<result property="value" column="binNumber"/>
		<result property="value" column="binMin"/>
		<result property="value" column="binMax"/>
		<result property="value" column="binCount"/>
	</resultMap>

	<select id="discreteSampleCountBin" parameterType="map" resultMap="discreteSampleCountBin" useCache="false">
		select binNumber, min(discrete_sample_count) binMin, max(discrete_sample_count)binMax, count(*) binCount
		from ( select discrete_sample_count, ntile(5) over (order by discrete_sample_count) binNumber
		  from (
				select sum(samples_${timeFrame}) discrete_sample_count
		        from 
		          qwportal_summary summ 
		        where
		          summ.nwis_or_epa in   
		          	<foreach item="i" collection="sources" open="(" separator="," close=")">#{i}</foreach>
		        group by
		        <choose>
		        <when test="geometry == 'Counties'">
						summ.fips_state_and_county
		        </when>
		        <when test="geometry == 'States'">
						summ.fips_state_code
		        </when>
		        <when test="geometry == 'Huc8'">
						summ.huc8
		        </when>
		        </choose>
                having sum(samples_${timeFrame}) > 0
		        order by sum(samples_${timeFrame})
		       )
          )
		group by binNumber
 		order by binNumber 
	</select>
	
</mapper>